@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to HairDressingSalon</h1>
    <img src="https://www.sunnygarden-spa.com/wp-content/uploads/2014/07/hairsaloon1.jpg" width="500" />
    <p></p>
</div>
